# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
build/
dist/

# ---- Jupyter ----
.ipynb_checkpoints/

# ---- Virtual Environment ----
venv/
.env/
env/
.venv/

# ---- macOS ----
.DS_Store

# ---- Logs & Temp ----
*.log
*.tmp
*.swp

# ---- VS Code ----
.vscode/
*.code-workspace


venv/
__pycache__/
*.db
*.sqlite
.DS_Store
.ipynb_checkpoints/
